@model IEnumerable<internUPR.Models.Internship>

@{
    ViewBag.Title = "InternshipIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InternshipIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.requirement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coemail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.requirement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.coemail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.internID }) |
            @Html.ActionLink("Details", "Details", new { id=item.internID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.internID })
        </td>
    </tr>
}

</table>
