@*@model IEnumerable<internUPR.Models.Internship>*@
@model internUPR.ViewModels.InternshipListViewModel

@{
    ViewBag.Title = "InternshipIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles | Internado</h2>
<h2>InternshipIndex</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>

@foreach (var item in Model.Internships)
{
    <div>
        <div class="col-sm-4 col-sm-4 col-sm-4">
            <div class="thumbnail">
                <img src="~/Content/Images/thumbnail_iU.png" alt="thumbnail">
            </div>

            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.name)</h3>
                <p>
                    @Html.DisplayFor(modelItem => item.position)
                @Html.DisplayFor(modelItem => item.company)
            </p>

            <br />
            <p>
                <input type="button" title="Details" value="Detalles" onclick="location.href='@Url.Action("Details", "Internship", new { internshipId = item.internID })'" class=" btn btn-sm" role="button" />

            </p>

        </div>
    </div>
</div>
}

